.layer.formacao {
  /* background-color: #514c4c !important;
  mix-blend-mode: multiply !important; */
}

.formacao-headline {
  background: url(../assets/formacao2.jpg) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #716d6d;
  background-blend-mode: multiply;
}

.lista-img-container {
  display: flex;
  justify-content: space-between;
}

.participantes-container h2 {
  padding-bottom: 5%;
}

.participantes-lista {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.list-block {
  /* padding-bottom: 3%; */
  padding-bottom: 3%;
}

.list-block p {
  padding-left: 2.5% !important;
}

.list-logo {
  display: flex;
  align-items: center;
  padding-left: 2.5%;
  padding-bottom: 1%;
  border-bottom: 0.3vw solid #fcc63e;
}

.list-logo img {
  width: 4vw;
}

.list-logo h3 {
  font-size: 2.5vw;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #fdc204;
  padding-left: 10%;
}

.formacao-imagens {
  display: flex;
  width: 45%;
  align-content: center;
}

.formacao-imagens img {
  object-fit: contain;
  border-radius: 0.5vw;
  width: 100%;
}
