body {
  background-color: #f5f5f5;
}

header {
  background-color: #4ab8b9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6vw 3vw;
}

.link-list {
  display: flex;
  align-items: center;
}

.link-list li {
  margin: 0 1.5vw;
  font-size: 1.1vw;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  padding-bottom: 0.1vw;
  color: #fff;
}

.link-list li:hover:not(:last-child) {
  border-bottom: 0.3vw solid #fcc63e;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  width: 5vw;
  margin-right: 0.5vw;
}

.logo-container a {
  font-family: "Permanent Marker", cursive;
  color: #f8fbfb;
  font-size: 2.2vw;
}

.btn-border {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 1.1vw;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2vw solid;
  border-radius: 0.5vw;
  transition: 0.2s all;
  cursor: pointer;
}

.btn-border.medium {
  padding: 0.7vw 3.6vw;
}

.btn-border.white {
  color: white;
}

.btn-border:hover.white {
  background-color: white;
  color: #4ab8b9;
  /* border-color: #fcc63e;
  color: #fcc63e; */
}

.dropdown-list {
  position: relative;
}

.dropdown-list ul {
  display: none;
  position: absolute;
  padding: 0 2vw;
  background-color: white;
  top: 90%;
  border-radius: 0.5vw;
  box-shadow: 8px 9px 5px -4px rgba(117, 117, 117, 0.22);
  z-index: 4;
}

.dropdown-list:hover ul {
  display: block;
}

.dropdown-list li {
  margin: 0;
  padding: 1.5vw 1vw;
  text-align: center;
  white-space: nowrap;
  color: #4ab8b9;
  border-bottom: 0.15vw solid #e0e0e0;
}

.dropdown-list button {
  padding: 1vw 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background: none;
  border: none;
}

.dropdown-list button a:hover {
  border-bottom: 0.3vw solid #fcc63e;
}

.dropdown-list li:hover {
  color: #fcc63e;
  border-bottom: 0.15vw solid #e0e0e0 !important;
}

.dropdown-list li:last-child {
  border-bottom: none !important;
}
