body {
  background-color: #f5f5f5;
}

header {
  position: fixed;
  background-color: #4ab8b9;
  box-sizing: border-box;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0.6vw 3vw;
  top: 0;
  transition: top 0.8s;
  width: 100%;
  z-index: 4;
}

.app-headline {
  background: url(../assets/app.jpg) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #4a9185;
  background-blend-mode: multiply;
}

.headline-itens p {
  margin-bottom: 10% !important;
}

.apps {
  display: flex;
  align-items: center;
}

.google-play img {
  max-width: 10rem;
  max-height: 5rem;
  width: auto;
  height: auto;
}

.app-store img {
  max-width: 10rem;
  max-height: 5rem;
  width: auto;
  height: auto;
}
