.imgSection{
    background: url(../assets/studio.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 45vw;
    left: 0px;
    background-color: #4a9185;
    background-blend-mode: multiply; 
} 


#ohanaCast{
    display: inline-block;
    font-family: "Ubuntu", sans-serif;
    /*font-family: Roboto;*/
    font-style: normal;
    font-weight: bold;
    font-size: 10vw;
    
    
    color: white;
    
    
}

#description{
    
    display: inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2vw;
    
    color:white;
    
}


#imgText{
    position: absolute;
    left: 5%;
    top: 40%;
    max-width: 50vw;
    justify-content: center;
    
}

#imgButton{
    position: relative;
    top: 1vw;
    display: flex;
    justify-content: space-around;
}



#spotyButton, #deezerButton{
    height: 4vw;
    width: 20vw;
    border-radius: 30px;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2vw;
    display: flex;
    justify-content: row;
}

.fa-spotify, .fa-deezer{
  font-size: 1.5rem;
  margin: 0 2.5%;
}

#spotyButton{
    background-color: #5cba54;
}
#deezerButton{
    background-color: white;
}

#spotyButton:hover{
    transition: all .1s ease;
    -webkit-transition: all .1s ease;

    transform: scale(1.05);
}

#deezerButton:hover{
    transition: all .1s ease;
    -webkit-transition: all .1s ease;

    transform: scale(1.05);
}


@media (max-width: 992px) {
    .imgSection{
        background: url(../assets/studio.jpg) no-repeat top;
        background-attachment: fixed;
        background-size: 200%;
        position: relative;
        width: 100%;
        height: 400px;
        left: 0px;
        background-color: #4a9185;
        background-blend-mode: multiply;
        display: flex;
        justify-content: center;
    } 

    .parallax{
        position: relative;
        
        min-height: 100%;
        min-width: 100%;
        max-height: 600px;
        
    }
    
    #ohanaCast{
        display: inline;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 60px;
        top: -20px;
        
        color: white;
        
        
    }
    
    #description{
        width: 300px;
        display: block;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        
        color:white;
        
    }
    
    
    #imgText{
        position: absolute;
        
        top: 30%;
        max-width: 50vw;
        z-index: 3;
    }
    
    #imgButton{
        position: relative;
        top: 20px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    
    
    
    #spotyButton, #deezerButton{
        height: 45px;
        width: 200px;
        border-radius: 30px;
        border: none;
        margin: 8px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
    }
    
    .fa-spotify, .fa-deezer{
        font-size: 1.5rem;
        margin: 0 2.5%;
    }

    #spotyButton{
        background-color: #5cba54; 
    }
    #deezerButton{
        background-color: white;
    }
    
    #spotyButton:hover{
        transition: all .1s ease;
        -webkit-transition: all .1s ease;
    
        transform: scale(1.05);
    }
    
    #deezerButton:hover{
        transition: all .1s ease;
        -webkit-transition: all .1s ease;
    
        transform: scale(1.05);
    }
    
}
