.quem-somos-main {
  padding: 10rem 8.3% 6%;
}

#section-quem-somos {
  margin: 0 0%;
  display: flex;
  border: 1px solid black;
}

#texto-quem-somos {
  width: 50%;
  height: 100%;

  flex-direction: column;
  justify-content: space-between;

  padding-top: 0;
  padding-bottom: 5%;
  padding-right: 10%;
  /* border: 1px solid blue; */
}

.quem-somos-main h2 {
  font-family: "Rowdies", cursive;
  text-transform: uppercase;
  color: #4ab8b9;
  font-size: 2.3rem;
  margin-bottom: 4rem;

  margin: 0%;
  padding-bottom: 5%;
  /* border: 1px black ; */
}

#article-img-quem-somos {
  width: 50%;
  height: 100%;
  /* border: 1px solid red; */

}

#img-quem-somos {
  max-width: 100%;
  max-height: 80%;
  width: 100%;
  height: auto;
}

#h2-texto-missao-historia {
  font-family: "Rowdies", cursive;
  text-transform: uppercase;
  font-size: 2.3rem;
  margin-bottom: 4rem;
  color:  #fcc63e;;
  padding-bottom: 5%;

  margin: 0%;
}

p {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  padding-top: 0%;
}

#section-missao-historia {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  border: 1px solid black;
}

#texto-historia {
  width: 50%;
  flex-direction: column;
  padding: 0 0 0 8.3%;
  border: 1px solid black;
}

#img-historia {
  border: 3px solid purple;
  width: 50%;
}

#img-historia img {
  width: 100%;
  
}

#texto-missao {
  width: 50%;
 
  /* border: 1px solid black; */
}

#section-equipe {
  margin: 10% 10% 5% 10%;
  /* border: 1px solid black; */
}

#texto-nossa-equipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid black; */
}

#imagens-membros {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.figure-membros {
  object-fit: none; /* contain */
}

#section-odsatuamos {
  margin: 10% 0 5%;
  display: flex;
   border: 1px solid black; 
}

#texto-odsatuamos {
  width: 50%;
  height: 100%;

  flex-direction: row;
  /* justify-content: space-between; */

  padding: 0 8.3% 0 0;
  padding-bottom: 5%;
  
 
  /* border: 1px solid blue; */
}

.container-img-ods {
  display: flex;
  justify-content: space-around;
  border: 1px solid red;

}

.img-ods {
  margin-left: 10%;
  border: 1px solid blue;
}

.img-ods img {
  max-width: 12.5rem;
  
}

/* @media (max-width: 992px) {
 
} */

@media (max-width: 992px) {
  #section-quem-somos {
    display: block;
    justify-content: center;
  }

  #texto-quem-somos {
    width: 100%;
    padding: 0 0 10% 0;

  }

  .quem-somos-main h2 {
    padding-top: 0;
   
    /* border: 1px black ; */
  }
  
  #article-img-quem-somos {
    width: 100%;     
  }

  #section-missao-historia {
    display: flex;
    flex-direction: column-reverse;
    
  }
  
  #texto-historia {
    width: 100%;
    height: 100%;
    margin-left: 0;
    padding: 0 0 5% 0%;
  }
  
  #img-historia {
    width: 100%;
  }
  #texto-missao {
    width: 100%;
    padding-bottom: 5%;
  }

  #section-odsatuamos {  
    flex-direction: column;
  }

  .container-img-ods {
    flex-direction: row;
    align-items: center;
  }

  .img-ods {
    margin: 5% 0;
  }
 
  #texto-odsatuamos {
    width: 100%;  
    /* justify-content: space-between; */
    padding-bottom: 5%;
    padding-right: 0;
    /* border: 1px solid blue; */
  }
}

@media (max-width: 576px) {
  #section-quem-somos {
    display: block;
    justify-content: center;
  }

  #texto-quem-somos {
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .quem-somos-main h2 {
    padding-top: 10%;
    /* border: 1px black ; */
  }
  
  #article-img-quem-somos {
    width: 100%;     
  }

  #section-missao-historia {
    display: flex;
    flex-direction: column-reverse;
    
  }
  
  #texto-historia {
    width: 100%;
    height: 100%;
    margin-left: 0;
    padding: 0 0 5% 0%;
  }
  
  #img-historia {
    width: 100%;
  }
  #texto-missao {
    width: 100%;
    padding-bottom: 5%;
  }

  #section-odsatuamos {  
    flex-direction: column;
  }

  .container-img-ods {
    flex-direction: column;
    align-items: center;
  }

  .img-ods {
    margin: 5% 0;
  }
 
  #texto-odsatuamos {
    width: 100%;  
    /* justify-content: space-between; */
    padding-bottom: 5%;
    padding-right: 0;
    /* border: 1px solid blue; */
  }

}