
.quem-somos-main {
    /* position: absolute; */
    /* width: 100%;
    height: 1777px; */
    left: 0px;
    top: 75px;
    border: 3px solid red;

}

.section-quem-somos {
    /* position: absolute; */
   /* width: 1366px;*/
    /* height: 452px; */
    margin: 10% 10% 5% 10%;
    display: flex;
    left: 0px;
    top: 75px;
    border: 1px solid black;

}

#img-quem-somos {
    /* position: absolute; */
    /* width: 558px;
    height: 387px; */
    left: 693px;
    top: 65px;
    width: 55%;
    background: #C4C4C4;
    /* cinza-claro */

    border: 1px solid #757575;
    box-sizing: border-box;
}

#texto-quem-somos {
    /* position: absolute; */
    /* width: 442px;
    height: 387px; */

    display: flex;
    width: 45%;
    padding-right: 10%;
    height: 100%;
     flex-direction: column; 
    justify-content: space-between;
    padding-top: 10%;
    padding-bottom: 10%;
    border: 4px solid pink;
    
}

h2{
    font-size: 250%;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #4ab8b9;
    border: 1px solid red;
    margin: 0%;
}

#texto-quem-somos p {
    padding-top: 5%;
    border: 1px solid blue;
    
}

p {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;

    color: #000000;
}


.section-missao-historia {
    display: flex;
    border: 1px solid purple;

}

#texto-historia {
    
}

#texto-missao {
    /* position: absolute; */
    /* width: 558px;
    height: 387px; */
    left: 115px;
    top: 0px;

    font-family: Rowdies;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;

    color: #FCC63E;
}

.section-equipe {
    
    margin: 10% 10% 5% 10%;
}

.texto-nossa-equipe {

    display: flex;
    flex-direction: column;
}

.imagens-membros {
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}

.figure-membros {
    border: 1px solid yellow;
    object-fit: none; 
    /* contain */
}

.section-odsatuamos {
    /* section-ods */

    /* position: absolute; */
    /* width: 1366px;
    height: 466px; */
    left: 0px;
    top: 1386px;

}

#rectangle-4 {
    /* Rectangle 4 */

    /* position: absolute; */
    /* width: 195.39px;
    height: 200px; */
    left: 604px;
    top: 114px;

    background: #C4C4C4;
    /* cinza-claro */

    border: 1px solid #757575;
    box-sizing: border-box;
}

#rectangle-3 {
    /* Rectangle 3 */


    /* position: absolute; */
    /* width: 195.39px;
    height: 200px; */
    left: 824px;
    top: 114px;

    background: #C4C4C4;
    /* cinza-claro */

    border: 1px solid #757575;
    box-sizing: border-box;
}

#rectangle-2 {
    /* Rectangle 2 */


    /* position: absolute; */
    /* width: 195.39px;
    height: 200px; */
    left: 1055px;
    top: 114px;

    background: #C4C4C4;
    /* cinza-claro */

    border: 1px solid #757575;
    box-sizing: border-box;
}

#texto-odsatuamos {
    /* position: absolute; */
    /* width: 442px;
    height: 387px; */
    left: 114px;
    top: 0px;

    font-family: Rowdies;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;

    color: #FCC63E;

}
