.castContent{
    display: flex;
    justify-content: center;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 19%, rgba(48,161,165,1) 79%, rgba(78,184,185,1) 100%);
    flex-direction: column;
}

#podcastCall{
    
    position: relative;
    top: 30px;
    left: 10px;
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-size: 50px;
    font-style: bold;
    font-weight: 700;
}

#cardSpotify{
    position: relative;
    top: 50px;
    height: 35%;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 80%;
    background-color: white;
    border-radius: 30px;

}

#spotify{
    position: relative;
    top: 50px;
    
    width: 80%; 
    height: 50vw;
   
    
    margin: auto;
    
}

#podcastDraw{
    position: relative;
    top: 50px;
}