.castContent{
    display: flex;
    justify-content: center;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 19%, rgba(48,161,165,1) 79%, rgba(78,184,185,1) 100%);
    flex-direction: column;
}

#podcastCall{
    display: inline;
    top: 30px;
    height: 5vw;
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-size: 50px;
    font-style: bold;
    font-weight: 700;
    
}




#spotify{
    position: relative;
    top: 50px;
    width: 80%; 
    height: 50vw;
    margin: auto;
    
}

#podcastDraw{
    position: relative;
    top: 50px;
    height: 40vw;
    width: auto;
    margin: auto;
}

@media (max-width: 992px) {
    .castContent{
        height: 300vw;
        display: flex;
        justify-content: center;
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,1) 19%, rgba(48,161,165,1) 79%, rgba(78,184,185,1) 100%);
        flex-direction: column;
    }

    #podcastCall{
        display: inline-block;
        position: relative;
        width: 80%;
        color: white;
        font-family: "Ubuntu", sans-serif;
        font-size: 45px;
        font-style: bold;
        font-weight: 700;
    }

    #spotify{
        position: relative;
        top: 30vw;
        width: 90vw; 
        height: 100vw;
        margin: auto;
        
    }

    #podcastDraw{
        position: relative;
        top: 50px;
        height: 20%;
        width: auto;
        margin: auto;
    }
}