.castContent{
    display: flex;
    justify-content: center;
    background: white;
    flex-direction: column;
}

#podcastCall{
    top: 1vw;
    height: 20%;
    display: inline-block;
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 250%;
    text-transform: uppercase;
    color: #4ab8b9;
}

#spotify{
    top: 5vw;
    position: relative;
    width: 80%; 
    height: 50vw;
    margin: auto;
    
}

#podcastDraw{
    position: relative;
    top: 1%;
    height: 40vw;
    width: auto;
    margin: auto;
}

@media (max-width: 992px) {
    .castContent{
        height: 300vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #podcastCall{
        height: 10%;
        display: inline-block;
        position: relative;
        width: 100%;
        font-size: 45px;
        font-style: bold;
        font-weight: 700;
    }

    #spotify{
        position: relative;
        width: 90vw; 
        height: 100vw;
        margin: auto;
    }

    #podcastDraw{
        position: relative;
        top: 50px;
        height: 20%;
        width: auto;
        margin: auto;
    }
}